<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
  <div id="layout">
  
   <div id="header">
   	  <a href="/"><img id="logo" src="/images/nimble_logo.png" /></a>
   	  <div id="categories">
   	  	Category: 
   	  	<select id="optcategories">
			<option value="">(select)</option>
   	  		<option value="celebrity">Celebrity</option>
   	  		<option value="nba" >NBA</option>
			<option value="nfl">NFL</option>
   	  	</select>
   	  </div>
	</div>

	<div class="wrapper">
		<%- body %>
		<div class="push"></div>
	</div>

	<div id="footer">
		<div id="copy">Nimble © <%= new Date().getUTCFullYear() %></div>
	</div>
  
  </div>
  </body>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/javascripts/jquery.timeago.js"></script>
<script src="/javascripts/jquery.livequery.js"></script>
<script src="/javascripts/jquery.vticker.1.4.js"></script>
<script src="/javascripts/list.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/nimble.js"></script>