<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  
  <div id="layout">
  
   <div id="header">
	  <div id="logo"></div>
	</div>

	<div class="wrapper">
		<%- body %>
		<div class="push"></div>
	</div>

	<div id="footer">
		Nimble © <%= new Date().getUTCFullYear() %>
	</div>
  
  </div>
  </body>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/javascripts/jquery.timeago.js"></script>
<script src="/javascripts/jquery.livequery.js"></script>
<script src="/javascripts/jquery.vticker.1.4.js"></script>
<script src="/javascripts/list.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/nimble.js"></script>