<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div class="container">
		<div class="header">
			<h1><a href="/">LOGO</a></h1>
		</div>
    	<%- body %>
		<div class="footer">
			Footer of the site
		</div>
	</div>
  </body>
</html>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script src="/javascripts/jquery.timeago.js"></script>
<script src="/javascripts/jquery.livequery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/nimble.js"></script>