body {
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  font: 14px "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a.category-name {
	font-size: 30px;
}

a#showMore {
	padding-left: 38px;
}

div.pagination {
	background: none repeat scroll 0 0 #E9E9E9;
	margin-bottom: 20px;
	padding: 5px 0;
	text-align: center;
}

div.loading {
	display: none;
}

.category-listing {
	padding: 10px 0;
}

.reglabel {
	width: 500px;
}

.user {
	font-size: 12px;
	font-weight: bold;
	font-family: Arial;
}

.user-mini {
	font-size: 12px;
}

.text {
	font-size: 13px;
	padding-top: 3px;
}

.text-mini {
	font-size: 11px;
	padding-top: 3px;
}

.date {
	font-size: 10px;
	color: #959595;
	padding-top: 5px;
}

.date-mini {
	font-size: 10px;
	color: #AAAAAA;
	padding-top: 10px;
}

.container {
	width: 800px;
	margin: 0 auto;
}

.header {
	position: relative;
}

.twitterstream {
	float: left;
	width: 600px;
}

.twitterstream-mini {
	float: left;
	width: 400px;
}

.friends {
	float: right;
	width: 200px;
}

.user-name-data {
	display: none;
}

input.search {
	margin-left: 38px;
}

.tweet-stream {
	height: 82px;	
}

.tweet-stream-mini {
	height: 90px;	
}

.profile-image {
	float: left;
	height: 50px;
	width: 50px;
}

.tweet-info {
	float: left;
	padding-left: 10px;
	width: 500px;
	font-size: 12px;
}

.tweet-info-mini {
	float: left;
	padding-left: 10px;
	width: 300px;
	font-size: 10px;
}

.tweet-list {
	list-style-type: none;
}

.friend-list {
	list-style-type: none;
	font-size: 12px;
}

.footer {
	clear: both;
	width: 100%;
}

div#layout {
	min-height:100%;
   	position:relative;
}

div#header {
 width: 100%;
 height: 89px;
 background: url("/images/header.png") 
}

div#logo {
 margin-left: 30px;
 width: 253px;
 height: 80px;
 background: url("/images/nimble_logo.png") 
}

div#footer {
 position:absolute;
 bottom:0;
 width: 100%;
 height: 50px;
 background: url("/images/footer_bg.gif");
 clear: both;
}

div.wrapper {
min-height: 100%;
height: auto;
height: 100%;
margin: 0 auto -4em;
padding-bottom:50px; 
}

.push {
	height: 50px;	
	clear: both;
}
