body {
  padding: 10px;
  font: 14px "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
  background: url("/images/bg.png") repeat scroll 0 0 transparent;
}

a {
  color: #00B7FF;
}

a.category-name {
	font-size: 30px;
}

.category-listing {
	padding: 10px 0;
}

.reglabel {
	width: 500px;
}

.user {
	font-size: 18px;
}

.user-mini {
	font-size: 12px;
}

.text {
	font-size: 15px;
	padding-top: 3px;
}

.text-mini {
	font-size: 11px;
	padding-top: 3px;
}

.date {
	font-size: 10px;
	color: #AAAAAA;
	padding-top: 10px;
}

.date-mini {
	font-size: 10px;
	color: #AAAAAA;
	padding-top: 10px;
}

.container {
	width: 800px;
	margin: 0 auto;
}

.header {
	position: relative;
}

.twitterstream {
	float: left;
	width: 600px;
}

.twitterstream-mini {
	float: left;
	width: 400px;
}

.friends {
	float: right;
	width: 200px;
}

.tweet-stream {
	height: 97px;	
}

.tweet-stream-mini {
	height: 90px;	
}

.profile-image {
	float: left;
	height: 50px;
	width: 50px;
}

.tweet-info {
	float: left;
	padding-left: 10px;
	width: 500px;
	font-size: 12px;
}

.tweet-info-mini {
	float: left;
	padding-left: 10px;
	width: 300px;
	font-size: 10px;
}

.tweet-list {
	list-style-type: none;
}

.friend-list {
	list-style-type: none;
}

.footer {
	clear: both;
	width: 100%;
}